.map-container {
  position: relative;
}

#map {
  height: 90vh;
  width: 100%;
}

.summary-box {
  position: absolute;
  top: 100px;
  right: 20px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  z-index: 1000;
}
